<main aria-label="Main offer" class="view main-offer main-offer--container section">
  <div id="main" class="view__anchor"></div>
  <div class="view__in main-offer__in section__in">
    <div class="main-offer__group">
      <div class="main-offer__offer">
        <div class="main-offer__header">
          <h1 class="main-offer__title" id="main-title"><b>Double Offer</b><sup>*</sup></h1>
          <small>*Just pay a separate $19.99 fee for 2nd unit</small>
        </div>
        <div class="main-offer__price-group">
          <div class="main-offer__price">
            <div class="sr">
              <div class="sr__text">Now Only $39.99</div>
              <div class="offer" aria-hidden="true" role="presentation">
                <span class="offer__standfirst">Now Only</span>
                <span class="offer__currency">$</span>
                <span class="offer__amt">39</span>
                <span class="offer__follow">
                  <span class="offer__cent">99</span>
                </span>
              </div>
            </div>
          </div>
          <picture class="main-offer__free-shipping-icon">
            <source srcset="{{ 'free-shipping-truck.webp' | asset_url }}" type="image/webp">
            <img src="{{ 'free-shipping-truck.png' | asset_url }}" alt="Free Shipping" width="127" height="84">
          </picture>
          <picture class="main-offer__mbg">
            <source srcset="{{ 'mbg.webp' | asset_url }}" type="image/webp">
            <img src="{{ 'mbg.png' | asset_url }}" alt="60 Day Money Back Guarantee" width="105" height="105">
          </picture>
          <div class="main-offer__order">
            <a
              href="#order"
              title="Order {{ shop.name }} Now!"
              class="dtm-button"
              >Order Now!</a
            >
            <div class="main-offer__payment"></div>
          </div>
        </div>
        <div class="main-offer__product">
          <img src="{{ 'bg-ice.png' | asset_url }}" class="main-offer__product-bg" alt="" role="presentation">
          <picture class="main-offer__product-shot">
            <source srcset="{{ 'main-product.webp' | asset_url }}" type="image/webp">
            <img
              src="{{ 'main-product.png' | asset_url }}"
              alt="{{ shop.name }}, runs up to 12 hours per fill!*"
              width="512"
              height="272"
            >
          </picture>
        </div>
      </div>
      <div class="main-offer__content">
        <div id="video" class="contain contain--video">
          <iframe
            loading="lazy"
            src="https://player.vimeo.com/video/828461998?autopause=0"
            frameborder="0"
            allow="fullscreen"
            title="{{ shop.name }} video"
            allowfullscreen
          ></iframe>
        </div>
        <div class="main-offer main-offer--benefits">
          <div class="main-offer__group">
            <figure class="main-offer__figure">
              <img src="{{ 'cool.png' | asset_url }}" alt="" width="112" height="112">
              <figcaption>Cool</figcaption>
            </figure>
            <figure class="main-offer__figure">
              <img src="{{ 'humidify.png' | asset_url }}" alt="" width="112" height="112">
              <figcaption>Humidify</figcaption>
            </figure>
            <figure class="main-offer__figure">
              <img src="{{ 'quiet.png' | asset_url }}" alt="" width="112" height="113">
              <figcaption>Quiet</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<section aria-labelledby="features-benefits-title" class="view content content--picture-text section">
  <div id="features-benefits" class="view__anchor"></div>
  <div class="view__in section__in">
    <div class="section__block content__block">
      <div class="content__group">
        <div class="content__picture">
          <div class="slide slide--fade">
            <div class="slide__into" tabindex="0" id="features-slider">
              <div class="slide__item">
                <picture>
                  <source srcset="{{ 'features-1.webp' | asset_url }}" type="image/webp">
                  <img src="{{ 'features-1.png' | asset_url }}" alt="Advanced and powerful cooling!">
                </picture>
              </div>
              <div class="slide__item">
                <picture>
                  <source srcset="{{ 'features-2.webp' | asset_url }}" type="image/webp">
                  <img src="{{ 'features-2.png' | asset_url }}" alt="Get maximum cooling on" width="614" height="318">
                </picture>
              </div>
            </div>
            <div class="slide__nav">
              <button aria-label="Previous" class="slide__prev" type="button">
                <svg class="icon">
                  <use href="#icon-chevron"></use>
                </svg>
              </button>
              <button aria-label="Next" class="slide__next" type="button">
                <svg class="icon">
                  <use href="#icon-chevron"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="content__text">
          <div class="features-benefits">
            <h2 id="features-benefits-title" class="features-benefits__title">Features &amp; Benefits</h2>
            <ul class="features-benefits__list">
              <li>Helps Cool and Humidify Air for Increased Comfort</li>
              <li>Hydro-Chill&reg; Technology Helps Cool Down Hot, Dry Air</li>
              <li>Replaceable Cooling Cartridge</li>
              <li>4 Quiet Speeds - Low, Medium, High, and Turbo</li>
              <li>Can Run For Up to 12 Hours Per Tank Fill*</li>
              <li>LED Nightlight</li>
              <li>Quiet Operation</li>
              <li>Lightweight and Portable</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section aria-labelledby="in-use-title" class="view content content--in-use section">
  <div id="in-use" class="view__anchor"></div>
  <div class="view__in section__in">
    <h2 id="in-use-title" class="content__title">
      <picture>
        <source srcset="{{ 'cool-title--mobile.png' | asset_url }}" media="(max-width: 650px)">
        <img
          src="{{ 'cool-title.png' | asset_url }}"
          loading="lazy"
          alt="Enjoy hours of cool and refreshing air"
          width="961"
          height="57"
        >
      </picture>
    </h2>
    <div class="slide slide--responsive">
      <div class="slide__into" tabindex="0" id="use-slider">
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-1.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-1.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Bedroom</figcaption>
          </figure>
        </div>
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-2.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-2.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Living Room</figcaption>
          </figure>
        </div>
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-3.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-3.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Kitchen</figcaption>
          </figure>
        </div>
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-4.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-4.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Workshop and Garage</figcaption>
          </figure>
        </div>
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-5.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-5.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Camping</figcaption>
          </figure>
        </div>
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-6.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-6.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Working Out</figcaption>
          </figure>
        </div>
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-7.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-7.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Kid's Room</figcaption>
          </figure>
        </div>
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-8.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-8.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Grilling</figcaption>
          </figure>
        </div>
        <div class="slide__item">
          <figure>
            <picture>
              <source srcset="{{ 'use-9.webp' | asset_url }}" type="image/webp">
              <img src="{{ 'use-9.png' | asset_url }}" alt="" width="279" height="197">
            </picture>
            <figcaption>Poolside &amp; More!</figcaption>
          </figure>
        </div>
      </div>
      <div class="slide__nav">
        <button aria-label="Previous" class="slide__prev" type="button">
          <svg class="icon">
            <use href="#icon-chevron"></use>
          </svg>
        </button>
        <button aria-label="Next" class="slide__next" type="button">
          <svg class="icon">
            <use href="#icon-chevron"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<section aria-labelledby="intro-title" class="view content content--text-video section">
  <div id="intro" class="view__anchor"></div>
  <div class="view__in section__in">
    <div class="section__block">
      <div class="content__group">
        <div class="content__text">
          <h2 id="intro-title" class="content__title <%= titleClass %>">
            Introducing
            <b>{{ shop.name }}</b>
          </h2>
          <p>
            The personal space cooler! Simply fill with water and turn it on. The secret is the Hydro-Chill&reg;
            Technology that helps turn hot air into cooler, refreshing air...instantly! It has a quiet, four-speed fan,
            multi-directional air vent, easy top-fill water tank, and 8 color light options. <b>{{ shop.name }}</b> is
            lightweight and portable. It&rsquo;s great for bedrooms, living rooms, kitchens, offices, basements, and
            more! Best of all, <b>{{ shop.name }}</b> can run for up to 12 hours per fill*, so you don&rsquo;t have to
            worry about constantly adding water. Experience the cooling comfort of <b>{{ shop.name }}!</b>
          </p>
        </div>
        <div class="content__video">
          <div id="animation" class="contain contain--video">
            <iframe
              loading="lazy"
              src="https://player.vimeo.com/video/808587831?autopause=0&background=1"
              frameborder="0"
              title="{{ shop.name }} animation"
            ></iframe>
          </div>
          <div class="content__footer">
            <a
              href="#order"
              class="dtm-button"
              >Click Here to Order Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section aria-label="No need to deal with these problems!" class="view content content--negative section">
  <div id="negative" class="view__anchor"></div>
  <div class="view__in section__in">
    <div class="section__block">
      <div class="content__group">
        <figure>
          <figcaption>
            Save Money <br>
            on Energy Bills!
          </figcaption>
          <picture>
            <source srcset="{{ 'no-1.webp' | asset_url }}" type="image/webp">
            <img src="{{ 'no-1.png' | asset_url }}" alt="" width="420" height="240">
          </picture>
        </figure>
        <figure>
          <figcaption>Forget Bulky Fans that Just Blow Hot Air!</figcaption>
          <picture>
            <source srcset="{{ 'no-2.webp' | asset_url }}" type="image/webp">
            <img src="{{ 'no-2.png' | asset_url }}" alt="" width="420" height="240">
          </picture>
        </figure>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main Offer",
  "settings": [],
  "presets": [{ "name": "Main Offer" }],
  "disabled_on": { "groups": ["header", "footer"] }
}
{% endschema %}
{% stylesheet %} {% endstylesheet %}
{% javascript %} {% endjavascript %}
